extends layout

block content
    .container-fluid.bg-1.text-center
        h3 Who Am I?
        img.img-circle(src='images/bird.jpg')
        h3 I'm an adventurer
    .container-fluid.bg-2.text-center
        h3 What Am I?
        p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
            br
            |  nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        button.btn.btn-lg.btn-light.button(type='button')
            span.glyphicon.glyphicon-search
            |  Search
        br
    .container-fluid.bg-3.text-center
        h3 Where To Find Me?
        .row
            .col-sm-4
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                img(src='images/birds1.jpg')
            .col-sm-4
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                img(src='images/birds2.jpg')
            .col-sm-4
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                img(src='images/birds3.jpg')
    .container-fluid.bg-4.text-center
        p
        | Bootstrap Theme Made By 
        a(href='#')  www.w3schools.com
